@model IEnumerable<PlayerInGame>

@if (!Model.Any())
{
    <div class="text-center">
        <p class="display-4" style="color: gray; font-size: 2.5rem;">No players joined Yet</p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Mac Address</th>
            <th>Name</th>
            <th>Status</th>
            <th>Host</th>
        </tr>
        </thead>
        @{ var i = 1;}
        @foreach (var playerInGame in Model)
        {
            <tr>
                <td>@i</td>
                <td>@playerInGame.PlayerId</td>
                <td>@playerInGame.Player.Name</td>
                <td>Joined</td>
                <td>@playerInGame.Host<td>
            </tr>
            i++;
        }
    </table>
}

