@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Laser Tag Web server</h1>
    <p><a href="#">UT - Group 2 - Final Project</a>.</p>
    <div class="display-4" style="color: gray; font-size: 2.5rem"><p>The server is ready to receive data</p></div>
</div>
