
@{
    ViewBag.Title = "Receiver";
    Layout = "_Layout";
}

<div class="text-center">
    <h5 class="display-4">Live Data Receiver</h5>
</div>
<hr/>

<input hidden="true" id="gameId" value="@ViewBag.gameId"/>
<div class="text-center" id="data-container">
    
</div>


@section Scripts
{
    <script>
        $(document).ready(function() {
            
            const gameId = $("#gameId").val();

            setInterval(function() { getData() }, 300);


            function getData() {
                $.ajax({
                    type: "GET",
                    url: "/LivePlayerData/",
                    data: {gameId: gameId},
                    success: function(response) {
                        $("#data-container").html(response);
                    }
                });
            }

        });
    </script>
}